$brown: #644f4f;
$backgroundYellow: #eee2d2;

nav {
  display: flex;
  justify-content: space-between;
  background: $brown;
  padding: 30px 0px 0px 0px;
  align-items: end;

  .navArea {
    padding: 0px 10px;
    display: flex;
    gap: 10px;

    .active {
      font-weight: bold;
    }

    .navItem {
      flex: 0 0 auto auto;
      // background: $backgroundYellow;
      border-radius: 5px 5px 0px 0px;

      text-decoration: none; /* Remove underline */
      &:hover {
        transform: translateY(-1px);
        // font-weight: bold;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition:
          transform 0.2s,
          box-shadow 0.2s;
      }
    }
    .leftItem {
      padding: 8px;
      background: $backgroundYellow;
      // > * {
      color: $brown;
      // }
    }
    .rightItem {
      > * {
        color: $backgroundYellow;
        font-weight: bold;
        // border: 1px solid $backgroundYellow;
        // border-radius: 5px;
        padding: 8px;
        height: 22px;
      }
    }
  }
}
