$yellowBee: #ffd375; //yellow bee
$yellowBeeHover: darken($yellowBee, 10%); // darker yellow for hover effect
$yellowBeeActive: darken($yellowBee, 20%); // darker x2 yellow for hover effect

nav {
  padding: 5px;
  background: $yellowBee;
  display: flex;
  gap: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid black;

  .navItem {
    flex: 0 0 auto auto;
    padding: 8px;
    background: $yellowBee;
    border-radius: 10px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }

  #logIn,
  #acc {
    margin-left: auto;
  }

  div.navItem a {
    color: black;
    text-decoration: none;

    &:hover {
      font-weight: bold;
    }
  }
}
