$brown: #644f4f;
$backgroundYellow: #eee2d2;

nav {
  padding: 5px;
  background: $brown;
  display: flex;
  gap: 10px;
  align-items: end;

  .navItem {
    flex: 0 0 auto auto;
    padding: 8px;
    background: $backgroundYellow;
    border-radius: 5px 5px 0px 0px;
    color: $brown;

    &:hover {
      transform: translateY(-3px);
      font-weight: bold;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transition:
        transform 0.2s,
        box-shadow 0.2s;
    }
  }
}
